
@import url('https://fonts.googleapis.com/css2?family=Jersey+25&display=swap');

.jersey-25-regular {
  font-family: "Jersey 25", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* shared styles */
.display-flex{
    display: flex;
}

/* color-1 */
.text-black{
    color: #252432;
}
/* color-2 */
.text-gray{
    color: #8987A1;
}
/* color-3 */
.text-orange{
    color: #E95A08;
}




/* header styles */
.bannar{
    justify-content: center;
    align-items: center;
    margin: 100px 150px;
}





/* navbar related styles*/
.nav-item{
    list-style: none;
    margin: 30px;
}


.nav-link{
    text-decoration: none;
}

.navbar{
    justify-content: space-between;
}

.main-text{
    font width: bold;
}


/* second section */
.card-title, .card-description{
    text-align: center;
}
.card-content{
    margin: 20px 150px;
}

.main-card{
    width: 250px;
    height: 400
    ;
}
.btn{
    background-color: #E95A08;
    border: none;
    width: 270px;
    height: 30px;
    color: white;
}
.text{

    text-align: center;
}

.full-card{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

/* section-02 */
.work-pic{
    margin-top: 50px;
    width: 50%;
}

.section-2{
    display: flex;
    gap: 60px;
     margin-top: 20px;
     align-items: center ;
     height: 400px;
}

.challage-pic{
    margin-top: 300px;
    margin-left: 400px;
}
/* section-03 */
.s-3{
text-align: center;
}



.img-bg{
    width: 100%;
    margin-top: 50px;
}


/* footer styles */

.footer-part{
    list-style: none;
    text-decoration: none;
    justify-content: space-evenly;
}




/* responsive media quary */
@media screen and (max-width: 576px) {
    .navbar, .bannar{
        flex-direction: column; 
        margin: auto 
        img{
            width: 100%;
            }           ;
    }

    .full-card{
        grid-template-columns: repeat(2, 1fr);
        gap: auto;
        width: 50%;
    }
    .section-2{
        flex-direction: column;
        align-items: center;
    } 
    .display-flex{
    flex-direction: column;
}  
}


